meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')

link(href='/stylesheets/styles.css', rel='stylesheet')

link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
link(href='/metisMenu/dist/metisMenu.min.css', rel='stylesheet')
link(href='/stylesheets/timeline.css', rel='stylesheet')
link(href='/stylesheets/sb-admin-2.css', rel='stylesheet')
link(href='/morris.js/morris.css', rel='stylesheet')
link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

link(href='/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css', rel='stylesheet')
link(href='/datatables-responsive/css/responsive.dataTables.scss', rel='stylesheet')